.modal_container {
    position: absolute;
    bottom: 18px;
    background-color: #FFF;
    padding: 14px;
    width: 700px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    animation: slideY 1.5s;

    span {
        margin: 14px 0;
        color: #a7a7a7;
    }
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-weight: bold;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    button {
        border: 0;
        background: transparent;
    }
}

.modal_link {
    background-color: #172742;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    color: #FFF;
}

@media (max-width: 735px) {
    .modal_container {
        width: 90%;
    }
}

//Animação Slide
@keyframes slideY {
    from {
        transform: translateY(90px);
    }

    to {
        transform: translateY(0);
    }
}