body {
    background-color: #141a30;
}

.links_container {
    max-width: 1120px;
    margin: 32px auto 0 auto;
}

.links-header {
    display: flex;
    flex-direction: row;

    svg {
        margin-right: 14px;
    }

    h1 {
        color: #FFF;
        font-size: 33px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 2rem;
    }
}


.links-item {
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 18px;
}

.link {
    border: 0;
    width: 100%;
    min-width: 80%;
    border-radius: 4px;
    height: 46px;
    background-color: rgb(255, 255, 255, 0.15);
    margin-right: 14px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    svg {
        margin-right: 14px;
    }
}

.link-delete {
    border: 0;
    background: transparent;
}

@media (max-width: 715px) {
    .links_container {
        width: 90%;
    }

    .logo h1 {
        font-size: 40px;
    }

    .links-item {
        width: 100%;
    }

    .link {
        width: 100%;

        svg {
            display: none;
        }
    }

}